<div class="header">
  <div class="avatar-sidebar">
    <!-- <ngx-avatar *ngIf="user$ | async as user" class="logo" gravatarId="{{user?.email}}"
      [name]="user?.firstName + ' ' + user?.lastName">
    </ngx-avatar> -->
  </div>
</div>
<div class="nav">
  <ion-menu-toggle auto-hide="false" *ngFor="let page of pages; let i = index">
    <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false"
      [class.selected]="selectedIndex == i" class="item-background-color">
      <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
      <ion-label>{{ page.title }}</ion-label>
      <ng-container *ngIf="page.badge | async">
        <ion-badge color="success">{{page.badge | async}}</ion-badge>
      </ng-container>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle auto-hide="false">
    <ion-item (click)="authService.logout()" lines="none" detail="false" class="item-background-color">
      <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-menu-toggle>
</div>

<div class="footer">
  <div class="footer-nav">
    <ion-card-subtitle class="footer-app-version" *ngIf="version">App Version {{version}}
    </ion-card-subtitle>
  </div>

</div>
