<app-navbar title="Thaitanic Food menu"></app-navbar>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ng-container *ngIf="products$ | async; else noProducts">
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let p of products$ | async">
          <ion-card>
            <img [src]="p.image">
            <ion-card-content>
              <ion-label>
                {{ p.title}}
                <p>{{ p.price | currency:'GBP' }}</p>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
      <ng-template #noProducts>
        Found no products
      </ng-template>

    </ion-row>
  </ion-grid>
</ion-content>
